---
BasedOnStyle: LLVM
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: 'true'
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'true'
AlignTrailingComments: 'true'
AlwaysBreakBeforeMultilineStrings: 'true'
AlwaysBreakTemplateDeclarations: 'Yes'
CompactNamespaces: 'false'
PointerAlignment: Left
SortIncludes: 'true'
SortUsingDeclarations: 'true'
TabWidth: '2'
UseTab: ForIndentation

...
